.time-interval-wrapper {
    margin-top: 5px;
    padding: 3px;
    border: 1px dashed #F00232;
    width: 380px !important;
}

.time-interval-line {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.time-interval-btn {
    width: 100%;
}

.time-interval-range {
    width: 100%;
}