
.cardTitle{
    display: flex;
    align-items: center;
}
.cardTitle .everyBody{
    display: flex;
    align-items: center;
}
.cardTitle .everyBody>div:nth-child(1){
   font-size: 14px;
   margin-right: 5px;
}
.address .ant-select{
    width: 200px;
}
.address .ant-upload-list{
    display: none;
}
.address .uploader_file .ant-upload{
    color: #fff !important;
}


