.tab-wrapper {
    /* width: 100px; */
}

.teast-wrapper {
    /* 尝鲜版广告 */
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.input-wrapper>.title {
    width: 120px;
    text-align: right;
}

.input-wrapper>.input {
    width: 400px;
    margin-left: 10px;
}

.input-wrapper>.btn {
    margin-left: 10px;
    width: 80px;
}

.input-wrapper>.date-picker {
    margin-left: 10px;
    width: 400px;
}

.alert-box {
    margin-top: 10px;
}

.alert-box>.btn-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    background: red;
}

.button-box {
    display: flex;
    flex-direction: row;
}

.pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.input-wrapper-from {
    width: 300px;
}

.uplpad-image-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* .ant-upload-picture-card-wrapper {
    display: inline-block;
    width: 100px;
} */