#admin .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
#admin{
  background: url("http://47.99.130.140/imgs/wallhaven-g83v2e.jpg") no-repeat !important;
  background-size: 100% 100% !important;
}
#admin .trigger:hover {
  color: #1890ff;
}
#admin .ant-layout-sider{
  background: rgba(0,21,41,1);
}
#admin .logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.3); */
  margin: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-layout{
  background: transparent !important;
}
.site-layout .site-layout-background {
  background: rgba(255,255,255,0.5);
}
/* .ant-menu-item-selected{
  animation: changeBackColor 4s forwards !important;
}

@keyframes changeBackColor{
  0%{
    background-color:#000c17 !important;
  }
  100%{
    background-color:#1890ff !important;
  }
} */